@import '../variables';

.hunting-page {
  position: relative;
  margin-bottom: 67px;

  &__animal-list {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;
    margin-bottom: 34px;
    flex-wrap: wrap;

    @media screen and (max-width: 1024px) {
      margin-bottom: 20px;
      align-items: center;
      justify-content: flex-start;
    }

    @media screen and (max-width: 767.9px) {
      align-items: center;
      justify-content: center;
    }
  }

  &__map-section {
    display: flex;
    justify-content: space-between;
    background: $gray;
    padding: 22px 30px;
    margin: 0 -10px;

    .map-scheme {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      max-height: 336px;
      margin: 0 10px;

      &__title {
        $lineHeight: 1.188rem;
        font-weight: 700;
        font-size: 16px;
        line-height: $lineHeight;
        color: $white;
        height: $lineHeight * 2;
        overflow: hidden;
        text-align: center;
        margin-bottom: 13px;
      }

      &__map {
        max-width: 540px;
        width: 100%;
        height: 250px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    @media screen and (max-width: 767.9px) {
      flex-direction: column;
      padding: 10px;
      margin: 0;

      .map-scheme {
        margin: 0;
        margin-bottom: 13px;

        &__title {
          margin-bottom: 5px;
        }

        &__map {
          height: 143px;
        }
      }
    }
  }
}