@import '../../variables';

nav {
  background-color: $dark-green;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 42px;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  z-index: 99;

  &.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    background: white;
    width: 100%;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
    }

    a, button {
      color: $green;
    }

    .dropdown-list {
      position: static;
      width: 100%;
      padding-top: 8px;

      a {
        justify-content: center;
      }
    }
  }

  @media screen and (max-width: 1023.99px) {
    display: none;
  }
  
  li {
    padding: 8px 21px;
    position: relative;

    @media screen and (max-width: 767.99px) {
      padding: 8px 0;
    }
  }
  
  .dropbtn svg {
    margin-left: 10px;
  }

  a, button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FEFEFE;

    &:hover {
      color: $green;
    }
  }

  .dropdown-list {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 227px;
    background-color: $white;
    text-align: left;

    &.active {
      display: block;
    }

    a:nth-last-child(1) {
      border-bottom-color: transparent;
    }

    a {
      justify-content: flex-start;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #2D2D2F;
      padding: 4px 12px;
      border-bottom: 2px solid $gray-light;
      
      &:hover {
        color: $green;
        border-bottom: 2px solid $green;
      }
    }
  }
}

.mobile-menu-btn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: transparent;
  color: $white;
  width: 30px;
  height: 22px;
  

  @media screen and (max-width: 767.99px) {
    position: absolute;
    top: -110%;
    left: 10px;
  }

  &__line {
    width: 100%;
    height: 4px;
    background-color: $white;
    position: relative;
    transition: .3s all;
  }

  &__text {
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
  }

  @media screen and (max-width: 1023.99px) {
    display: flex;
  }

  &.active {
    justify-content: center;

    .mobile-menu-btn__line-top {
      transform: rotate(
        45deg);
            top: 2px;
    }

    .mobile-menu-btn__text {
      display: none;
    }

    .mobile-menu-btn__line-bottom {
      transform: rotate(
        -45deg);
            bottom: 2px;
    }
  }
}