@import '../variables';

.animal-item-page {
  position: relative;
  margin-bottom: 37px;

  &__text {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 55px;
  }

  &__galery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;

    .galery-iamge {
      width: 273px;
      height: 183px;
      margin-bottom: 27px;
      overflow: hidden;
    }

    @media screen and (max-width: 1024px) {
      justify-content: space-around;
    }

    @media screen and (max-width: 767.9px) {
      justify-content: center;

      .galery-iamge {
        width: 300px;
        height: 148px;
      }
    }
  }

  .table-price-form {
    display: flex;
    margin-bottom: 37px;

    .table-wrapper,
    .form-wrapper {
      width: 100%;
      max-width: 50%;
    }

    .table-wrapper {
      table {
        margin-bottom: 0;
      }
    }

    .form-wrapper {
      margin-left: 23px;
      padding: 14px 18px;
      background: $gray-light;

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;

        #fullName {
          min-height: 70px;

          &::placeholder {
            position: relative;
            top: 0;
          }
        }

        input {
          width: 100%;
          min-height: 41px;
          padding: 3px 9px;
          color: $dark-light;
          border: none;
          margin-bottom: 14px;
  
          &::placeholder {
            font-style: italic;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: $gray;
          }
        }

        .form-contacts {
          display: flex;
  
          #eMail {
            margin-right: 14px;
          }
  
          input {
            max-width: 50%;
          }
        }
  
        .btn-submit-form {
          width: 173px;
          height: 44px;
          background-color: $green;
          margin: 0 auto;
          border: none;
          color: $white;
          font-weight: 700;
          padding: 5px 18px;
  
          &:hover {
            background-color: $dark-green;
          }
        }
      }
    }

    @media screen and (max-width: 1024px) {
      flex-direction: column;
      
      .table-wrapper,
      .form-wrapper {
        max-width: 100%;
      }

      .table-wrapper {
        margin-bottom: 29px;
      }

      .form-wrapper {
        margin: 0;
      }
    }
  }

  .switching-pages {
    display: flex;
    justify-content: space-between;

    &__switcher {
      display: flex;
      flex-direction: column;
      margin: 0 15px;

      .animal-to-switch {
        font-size: 14px;
        line-height: 17px;

        &_next {
          text-align: end;
        }
      }

      a {
        display: flex;
        align-items: center;
        color: $green;
        position: relative;
        margin-bottom: 7px;

        span {
          position: absolute;
          width: fit-content;
          height: fit-content;
          display: block;

          svg {
            width: 14px;
          }
        }

        &:hover {
          color: $dark-green;
        }
      }
    }

    &__switcher_prew {
      a span {
        top: 1px;
        left: -15px;
        transform: rotate(90deg);
      }
    }
    &__switcher_next {
      span {

      }
      a span {
        top: 1px;
        right: -15px;
        transform: rotate(-90deg);
      }
    }
  }
}