@import '../variables';

.table {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
  margin-bottom: 50px;

  tr > td {
    padding: 10px 15px;
  }

  tr:nth-child(odd) {
    background: $gray-light;

    td {
      border-color: $gray-light;
    }
  }

  .table-title {
    &__price {
      font-size: 14px;
      line-height: 17px;
      text-align: right;
    }
  }
  
  .table-row-content {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    &__price {
      text-align: right;
    }
  }
}