.baguetteBox-button {
  position: absolute;
  cursor: pointer;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 15%;
  background-color: #323232;
  background-color: rgba(50,50,50,.5);
  color: #ddd;
  transition: background-color .4s ease;
}

#next-button,
#previous-button {
  top: calc(50% - 30px);
  width: 44px;
  height: 60px;
}

#next-button {
  right: 2%;
}

#previous-button {
  z-index: 1;
  left: 2%;
}