@import '../variables';

.latest-news-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.actual-news-section {
  margin-top: 75px;
  margin-bottom: 70px;
}