.about-company-page {
  margin-bottom: 50px;

  @media screen and (max-width: 1024px) {
    margin-bottom: 30px;
  }

  @media screen and (max-width: 650.9px) {
    margin-bottom: 14px;
  }
}