@import "../variables";

.feedback-page {
  padding-top: 41px;
  margin-bottom: 94px;

  @media screen and (max-width: 1024px) {
    margin-bottom: 32px;
  }

  .feedback-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 53px;

    &__title {
      font-weight: 700;
      color: $green;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 13px;
      text-align: center;

      @media screen and (max-width:1024px) {
        font-size: 18px;
        line-height: 22px;
      }
    }

    &__subtitle {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 18px;
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      background-color: $gray;
      padding: 30px;
      max-width: 984px;
      width: 100%;
      margin: 0 auto;

      @media screen and (max-width: 1024px) {
        padding: 30px 21px;
      }

      @media screen and (max-width: 767.9px) {
        padding: 10px;
      }

      .form-contact-wrapper {
        display: flex;

        input {
          &:first-child {
            margin-right: 15px;
          }
          max-width: 50%;
        }

        @media screen and (max-width: 767.9px) {
          flex-direction: column;

          input {
            &:first-child {
              margin-right: 0;
            }
            max-width: 100%;
          }
        }
      }

      input {
        width: 100%;
        margin-bottom: 18px;
        height: 57px;
        border: none;
        padding: 7px 13px;
        font-size: 18px;
        font-style: italic;
        color: $dark-light;
        
        &::placeholder {
          font-style: italic;
          color: $dark-light;
          font-size: 18px;
          line-height: 22px;
        }

        @media screen and (max-width: 767.9px) {
          height: 34px;
          margin-bottom: 10px;
        }
      }

      textarea {
        font-family: "HarmoniaSansProCyr", sans-serif;
        font-style: italic;
        color: $dark-light;
        width: 100%;
        height: 159px;
        margin-bottom: 18px;
        border: none;
        padding: 7px 13px;
        font-size: 18px;

        &::placeholder {
          font-style: italic;
          color: $dark-light;
          font-size: 18px;
          line-height: 22px;
        }

        @media screen and (max-width: 767.9px) {
          height: 94px;
          margin-bottom: 10px;
        }
      }

      button {
        margin: 0 auto;
        padding: 14px 23px;
        height: 57px;
        background: $green;
        border: none;
        color: $white;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 29px;

        &:hover {
          background-color: $dark-green;
        }

        @media screen and (max-width: 1024px) {
          font-size: 16px;
          line-height: 19px;
        }
        @media screen and (max-width: 767.9px) {
          padding: 7px 23px;
          height: 35px;
        }
      }
    }
  }

  &__content {
    margin-bottom: 70px;

    @media screen and (max-width: 1024px) {
      margin-bottom: 40px;
    }

    .section-title {
      width: 100%;
      max-width: 100%;
      margin-bottom: 2rem;

      hr {
        max-width: 100%;
      }

      @media screen and (max-width: 1300px) {
        span {
          display: none;
        }
      }
    }
  }

  &__content_articl {
    margin-bottom: 1rem;
  }

  .download-graf-wrapper {
    display: flex;

    .bownload-btn {
      width: 100%;
      max-width: 50%;
      background-color: $green;
      color: $white;
      padding: 15px 0;
      border: none;
      text-align: center;

      &:first-child {
        margin-right: 15px;
      }

      &:hover {
        background-color: $dark-green;
      }
    }
  }
}
