$white: #FFFFFF;

$dark: #282828;
$dark-light: #2D2D2F;

$gray: #C4C4C4;
$gray-light: #E7E7E7;

$green: #7B9551;
$dark-green: #4B6042;

$red: #E31E24;

$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 540px;

$lg: $breakpoint-desktop;
$md: $breakpoint-tablet;
$sm: $breakpoint-mobile;