@import './variables';

.about-company-card {
  display: flex;
  background-color: $gray-light;
  padding: 16px 0 16px 43px;
  margin-bottom: 6px;

  &__photos-wrapper {
    display: flex;
    justify-content: space-between;
    flex: 1 0 50%;

    .photos-wrapper__image-person,
    .photos-wrapper__image-building {
      height: 137px;

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    .photos-wrapper__image-person {
      width: 137px;
      
      img {
        min-width: 137px;
      }
    }

    .photos-wrapper__image-building {
      width: 325px;

      img {
        min-width: 325px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0 50%;
    width: 100%;

    &-title {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 34px;
      color: #2D2D2F;
    }

    &-contacts {
      font-size: 14px;
      line-height: 17px;
      text-align: center;
    }
  }

  @media screen and (max-width: 1023.9px) {
    padding: 10px;

    &__photos-wrapper {
      flex: 0 1 auto;

      .photos-wrapper__image-person {
        margin-right: 10px;
        width: 125px;

        img {
          min-width: 125px;
        }
      }
  
      .photos-wrapper__image-building {
        width: 206px;

        img {
          min-width: 206px;
        }
      }
    }

    &__content {
      flex: 0 1 auto;

      &-title {
        margin-bottom: 29px;
      }
    }
  }

  @media screen and (max-width: 767.9px) {
    padding: 7px;

    &__photos-wrapper {
      justify-content: center;
      margin-bottom: 8px;

      .photos-wrapper__image-person {
        margin-right: 10px;
        width: 125px;

        img {
          min-width: 125px;
        }
      }
  
      .photos-wrapper__image-building {
        width: 150px;

        img {
          min-width: 150px;
        }
      }
    }

    &__content {
      &-title {
        margin-bottom: 14px;
      }
    }
  }

  @media screen and (max-width: 569.9px) {
    flex-direction: column;
    margin: 0 -5px;
  }
}