@import './variables';

.animal-card {
  margin: 0 15px;
  width: 273px;
  padding-bottom: 7px;
  border-bottom: 2px solid $gray;
  margin-bottom: 14px;
  
  &__image {
    width: 100%;
    max-width: 273px;
    height: 183px;
    margin-bottom: 7px;
    overflow: hidden;

    img {
      transform: scale(1.05);
      transition: all 0.5s;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    background: $white;
    width: 100%;
    color: $dark;
  }

  &:hover {
    .animal-card__name {
      color: $green;
    }

    .animal-card__image img {
      transform: scale(1);
    }
  }

  @media screen and (max-width: 1024px) {
    width: auto;
    margin: 9px;

    &__image {
      max-width: 214px;
    }
  }

  @media screen and (max-width: 767.9px) {
    width: 300px;

    &__image {
      max-width: 300px;
    }
  }
}