@import './variables';

.latest-news-item {
  display: flex;
  flex-direction: column;
  max-width: 253px;
  margin-bottom: 28px;
  color: $dark;

  &__image {
    width: 100%;
    height: 160px;
    margin-bottom: 15px;
    
    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    max-height: 2rem;
    overflow: hidden;
    margin-bottom: 21px;
  }

  &:hover {
    .latest-news-item__image {
      img {
        transform: scale(1.03);
        transition: 0.5s;
      }
    }

    .latest-news-item__title {
      color: $green;
    }
  }

  &__date {
    font-size: 12px;
    line-height: 14px;
    color: $green;
  }

  @media screen and (max-width: 1023.99px) {
    max-width: 339px;
  }

  @media screen and (max-width: 767.99px) {
    max-width: 300px;
  }
}