@import './variables';

.pagination-list {
  padding-left: 0;
  list-style-type: none;
  display: flex;

  .page-number {
    width: 39px;
    height: 39px;
    margin-right: 3px;
    border: 2px solid $gray;
    cursor: pointer;

    &.prev,
    &.next {
      path {
        fill: $gray;
      }

      &:hover {
        path {
          fill: $green;
        }
      }
    }

    &.prev {
      transform: rotate(90deg);
    }
    &.next {
      transform: rotate(-90deg);
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-size: 700;
      font-size: 24px;
      line-height: 29px;
      text-decoration: none;
      color: $gray;
    }

    &:hover {
      border-color: $green;

      a {
        font-weight: 700;
        color: $green;
      }
    }

    @media screen and (max-width: 767.9px) {
      width: 21.91px;
      height: 21.92px;

      a {
        font-size: 16px;
        line-height: 20px;

        svg {
          width: 8px;
        }
      }
    }
  }

  .active {
    border-color: $green;

    a {
      font-weight: 700;
      color: $green;
    }
  }
}
